<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="USTC.Software.hanyizhao.NetSpeedMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <USTC.Software.hanyizhao.NetSpeedMonitor.Properties.Settings>
            <setting name="edgeHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startOnBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>-200001</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>-200001</value>
            </setting>
        </USTC.Software.hanyizhao.NetSpeedMonitor.Properties.Settings>
    </userSettings>
</configuration>
